[Unit]
Description=MeatGeek.IoT
After=infernoapi.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/inferno/iot
ExecStart=/home/pi/inferno/iot/Inferno.IoT
SyslogIdentifier=inferno.iot
User=pi

[Install]
WantedBy=network-online.target
