[Unit]
Description=MeatGeek.RelayListener
After=infernoapi.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/inferno/listener
ExecStart=/home/pi/inferno/listener/Inferno.RelayListener
SyslogIdentifier=inferno.relaylistener
User=pi

[Install]
WantedBy=network-online.target